<div class="row row-cols-1 mb-3 pb-5">
          <div class="login-form" >
        <form action="/posts/test" method="POST" enctype="multipart/form-data">
          <h1>Kitap Ekle</h1>
          <div class="login">
            <div class="input-field">
                <input placeholder="kitap adı" name="title">
              </div>
            <div class="input-field">
                <input placeholder="içeriği hakkında" name="content">
              </div>
            <div class="input-field">
                <input name="kitapresmi" type="file" required>
              </div>
          </div>
          <div class="action">
            <button>kitap ekle</button>
          </div>
        </form>
      </div>
      </div>