<div class="row row-cols-1 mb-3 pb-5">
                        <h1 class="text-center text-light mt-3"><br><br><br>HAKKINDA</h1>
                        <p class=" pbeyaz text-center"><br><br><br>Yılmaz Feriz...<br><br><br>Lorem ipsum dolar sit amet, incsio de odelrao&nbsp;&nbsp;ipsum dolar sit amet, incsio&nbsp;<br>dolar sit amet, incsio de odelrao&nbsp;<br><br></p>
                    </div>