<div class="row row-cols-1 mb-3 pb-5">
              <div class="login-form">
        <form>
          <h1>Giriş Yap</h1>
          <div class="login">
            <div class="input-field">
              <input type="email" placeholder="Mail Adresi" name="email" type="email">
            </div>
            <div class="input-field">
              <input type="password" placeholder="Şifre" name="password" type="password">
            </div>
          </div>
          <div class="action">
            <button formaction="/users/register">Hesap Olustur</button>
             <button formaction="/users/login" formmethod="POST" type="submit">Giriş Yap</button>
          </div>
        </form>
      </div>
      </div>